<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mybatis.UserMapper">

    <select id="getUserInfo" resultType="me.mybatis.User">
        SELECT
            ID
            , FULL_NAME
        FROM
            USER
        WHERE
            ID = #{id}
    </select>

</mapper>